
.top-bar
{
		background-color: #009999;
		padding: 10px;
}

.my-menu
{
	margin-top: 10px;
	
	
}

.my-menu .navbar-default
{
	background: none;
	border: none;
}

.my-menu .navbar-collapse .navbar-nav .active a, .my-menu .navbar-collapse .navbar-nav .active a:hover
{
	background-color: #009999;
	color: white;
	
}


.my-menu .navbar-collapse .navbar-nav li a:hover
{
	background-color: #009999;
	color: white;
	
}

.heading
{
	text-align: center;
	padding: 5px;
	font-size: 35px;
	font-family: "sergo script";
	font-weight: 800px;
	border-width: 3px;
	border-bottom-style: ridge;
	border-color:	#009999;
	
}

#banner
{
	height: 450px;
	width: 1100px;
	background: url(../pics/farm3.jpg) fixed;
	
	background-color: red;
	margin: auto;
	
}

.well:hover
{
	box-shadow: -1px 2px 18px #888888;
}

.footer
{
	min-height: 80px;
	widht: 100px;
	background-color: #666666;
}

body
{
	overflow-x: hidden;
	
}

.well .img-resize
{
		height: 211px;
		
}